@charset "utf-8";

.on{
  top: .64rem!important;
  height: 6.46rem;
  //background: gray!important;
}
section{
  font-size: .16rem;
  position: relative;
  width: 100%;
  .wrap{
    .news_menu{
      display: flex;
      display: -moz-flex;
      display: -webkit-flex;
      justify-content: space-between;
      align-items: center;
      min-height: .44rem;
      background: #f2f2f2;
      .news_tit{
        padding-left: .18rem;
      }
      .news_arrow{
        display: inline-block;
        width: .11rem;
        height: .06rem;
        padding-right: .29rem;
        background: url("../img/news_down.png") no-repeat;
        -webkit-background-size: .11rem;
        background-size: .11rem;
      }
    }
    .news_hide{
      display: none;
      padding: .06rem .4rem .12rem;
      background: #fff;
      li{
        height: .28rem;
        line-height: .28rem;
        padding-top: .1rem;
        border-bottom: 1px solid #f2f2f2;
      }
    }
    .white{
      display: none;
      height: 4.6rem;
      background-color: rgba(11,11,11,.2);
    }
    .newsList{
      width: 3.28rem;
      margin: 0 auto;
      .news_item{
        padding:0 .12rem .16rem;
        box-shadow: 0 .08rem 1px #ccc;
        border-left: 1px solid #fafafa;
        img{
          width: 100%;
          padding: .7rem 0 .85rem;
        }
        h3{
           font-weight: normal;
           font-size: .16rem;
        }
        p{
          font-size: 12px;
          color: #6f6f6f;
          padding-top: .1rem;
        }
        span{
          display: block;
          color: #787878;
          padding-top: .08rem;
          font-size: .12rem;
        }
      }
    }
  }
}